<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutoriral about the sample app at the
	<a href="http://railstutorial.org/">Ruby on Rails Tuturial</a> sample application.
</p>